
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import './_variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.toast-loader {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1;
}
